<div class="container text-center">
        <div class="row">
          <div>
            <div class="col-lg-12">
            <hr>
              <ul class="nav nav-justified">
                <a class="footer" > &copy; 2015 Example Company</a>
                <a class="footer" href="">Contact Us</a>
                <a class="footer" href="">About Me</a>
                <a class="footer" href="">Get this Template</a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/java.js"></script>